<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <file>./app/Http/routes.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="GOOGLE_API_KEY" value=""/>
        <env name="GOOGLE_JAVASCRIPT_API_KEY" value=""/>
        <env name="GOOGLE_CLIENT_ID" value=""/>
        <env name="GOOGLE_CLIENT_ID" value=""/>
        <env name="GOOGLE_SECRET" value=""/>
        <env name="BRIDGE_DEBUG" value="true"/>
    </php>
</phpunit>